@charset "UTF-8";
html {
	background-color: #ff9;
	background-image: url(./img/testpic.webp);
	background-repeat: repeat-x;
}
*:not(html) {
	background-color: #fff;
	border: solid 1px;
	margin: 0 .5em;
}

@media screen and (min-width:769px) {
	body {
		max-width: 1200px;
		margin: auto;
	}
}
